<div class="media">
	<div class="media-object pull-{{orientation}} thumb">{{&avatar}}</div>
	<div class="media-body {{orientation}}">
		<div class="row text-{{orientation}}">
			<small class="text-muted">&#8212; <a href="{{profile_link}}" title="" class="strong">{{username}}</a> <span class="moment" data-time="{{time}}">{{formatted_time}}</span></small>
		</div>
		<div class="row">
			<p>{{&content}}</p>
		</div>
	</div>
</div>