<div class="row">
	<div class="col-sm-2">
		Filter from
	</div>
	<div class="col-sm-2">
		<input class="form-control" type="text" id="chat-date-start">
	</div>
	<div class="col-sm-2">
		<div class="bootstrap-timepicker">
			<input class="form-control" id="chat-time-start" type="text"/>
		</div>
	</div>
	<div class="col-sm-1">
		until
	</div>
	<div class="col-sm-2">
		<input class="form-control" type="text" id="chat-date-end">
	</div>
	<div class="col-sm-2">
		<div class="bootstrap-timepicker">
			<input class="form-control" id="chat-time-end" type="text"/>
		</div>
	</div>
	<div class="col-sm-1">
		<a href="#" class="btn btn-circle btn-success btn-sm" id="chat-filter"><i class="fa fa-search"></i></a>
	</div>
</div>
<div class="clear"></div>
<br />
{{&table}}

<script type="application/javascript">
	var pc_routes = {{&routes}};
</script>


<div class="modal fade" id="modal-chats">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">View Messages #<span id="chat-user"></span></h4>
	</div>
	<div class="modal-body">
		<div class="row" id="chat-content">

		</div>
	</div>
</div><!-- /#modal-chats -->

<div class="modal fade" id="modal-message">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Send user a message</h4>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" id="chat-msg">
			<input type="hidden" name="csrf" value="{{csrf}}" />
			<div class="form-group">
				<label for="msg-content" class="col-sm-2 control-label">Message</label>
				<div class="col-sm-10">
					<textarea class="form-control wysiwyg" id="msg-content" name="message"></textarea>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-success" id="msg-send">Send</button>
	</div>
</div><!-- /#modal-message -->